/.vscode
/divideby3_5.exe
/factors.exe
/factorsopti.exe
/leapyr.exe
/noofdigit.exe
/numptr1.exe
/numptr2.exe
/perfectnum.exe
/strptrn.exe
/strptrn1.exe
/strptrn2.exe
/strptrn3.exe
/strptrn4.exe
/strptrn5.exe
/strptrn7.exe
/sumofn.exe
/sumofneven.exe
/sumofnodd.exe